body{
	margin: 0;
	padding: 0;
}
/*header starts*/
header{
	padding: 10px 0;
	background-color: #121B2A;
}
.wrapper{
	overflow: hidden;
	width: 80%;
	/*border: 1px solid white;*/
	margin: 0 auto;
}
.logo{
	width: 18%;
	/*border: 1px solid white;*/
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	margin-top: 40px;
	width: 70%;
	/*border: 1px solid white;*/
	float: right;
}
.menu ul{
	float: right;
	
}
.menu ul li{
	float: left;
	list-style: none;
	
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 20px;
	display: inline-block;
}
.menu ul li:last-child a{
	padding-right: 0px;
}
.menu ul li a:hover{
	color: #62A2E4;
}
/*header ends*/
/*banner starts*/
.banner{
	background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 450px;
}

.b_content{
	margin-top: 200px;
	margin-bottom: 70px;
	width: 50%;
	/*border: 1px solid red;*/
}
.b_content h1{
	margin: 0;
	font-family: sans-serif;
	font-size: 38px;
	font-weight: 400;
	color: white;
	text-transform: capitalize;
}
.b_content h2{
	margin: 0;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #121B2A;
	text-transform: capitalize;
}
.b_content p{
	margin: 15px 0 30px; 
	font-family: sans-serif;
	font-size: 16.5px;
	font-weight: 400;
	color: white;
	line-height: 30px;
}
.b_content button{
	width: 200px;
	height: 60px;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #B3B3BB;
	text-transform: uppercase;
	background-color: white;
	border: none;
	cursor: pointer;
	transition: .3s;
}
.b_content button:hover{
	background-color: #62A2E4;
	color:  white;
}

/*banner ends*/
/*service starts*/
.service{
	background-color: #121B2A;
	padding-top: 50px;
	padding-bottom: 20px;
}
.single{
	float: left;
	width: 29.1%;
	/*border: 1px solid red;*/
	padding: 50px 2%;
}
.single:last-child{
	border-right: 0;
}
.top{
	overflow: hidden;


}
.t_img{
	width: 28%;
	/*border: 1px solid white;*/
	float: left;
}
.t_img img{
	width: 100%;
}
.t_txt{
	margin-top: 20px;
	width: 60%;
	/*border: 1px solid white;*/
	float: left;
}
.t_txt h2{
	margin: 0;
	font-family: sans-serif;
	font-size: 21px;
	font-weight: 400;
	color: #ffffff;
	text-transform: capitalize;
}
.blue{
	color: #62A2E4;
}
.t_txt h3{
	margin: 0;
	font-family: sans-serif;
	font-size: 21px;
	font-weight: 400;
	color: #62A2E4;
	text-transform: capitalize;
}
.bottom{}
.bottom p{
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	line-height: 23px;
}
/*service ends*/